/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* CORPO/FUNDO */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./pano3.webp') no-repeat center center/cover;
    background-size: cover;
    margin: 0;
    padding: 0;
        font-family: 'Poppins', sans-serif;
    
}
.forms {
    width: 500px;
    height: auto;
      display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,  
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 15px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 35px;
  }

.form img {
    width: 160px;
    margin-bottom: 0px;
  
}

  .classe-p{
      margin-bottom: 10px;
      font-size: 28px;
      font-family: Arial, Helvetica, "sans-serif";
      text-align: center;
  }
form input {
   margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box; /* Garante que padding não aumente a largura total */
    outline: none; /* Remove a borda azul padrão ao focar */
}
input[type="text"] {
    background-color: #fff;
    border: 2px solid #008CBA; /* Borda azul */
    color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, "sans-serif";
     transition: all 0.3s ease;
}

/* Efeito visual ao focar, da uma olhada rpz(clicar no campo) */
input:focus {
    background-color: #e9e9e9;
    box-shadow: 0 0 5px rgba(0, 100, 180, 0.5);
}

input[type="submit"] {
    background-color: #fff;
    border: 2px solid #008CBA; /* Borda azul */
    color: #333;
    font-size: 16px;
    font-family: Arial, Helvetica, "sans-serif";
     transition: all 0.3s ease;
}

input[type="text"]:hover{
  border-color: #b302e0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"]:hover{
  border-color: #b302e0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
/* FUNDO DO MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,  
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* CAIXA DO MODAL */
.modal-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    width: 320px;
    animation: zoomIn 0.3s ease;
    font-family: 'Poppins', sans-serif;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 15px solid rgba(255, 255, 255, 0.3);
}

/* TEXTO */
.modal-box p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
}

/* BOTÕES */
.modal-botoes {
    display: flex;
    justify-content: space-between;
}

.modal-box button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* CONFIRMAR */
#confirmar {
    background: #2ecc71;
    color: #000;
}

/* CANCELAR */
#cancelar {
    background: #e74c3c;
    color: #fff;
}

/* ANIMAÇÃO */
@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


